@font-face {
    font-family: 'vazir';
    src: url('../fonts/vazir.eot') format('eot'),
     url('../fonts/vazir.ttf') format('truetype'),
    url('../fonts/vazir.woff') format('woff'),
    url('../fonts/vazir.woff2') format('woff2');
}
*{
    padding: 0;
    margin: 0;
    outline: none;
}
body{
    font-family: 'vazir';
    direction: rtl;
   background: #333;
   overflow-x: hidden;
}


.container{
    width: 100vw;
    min-height: 100vh;
    background: #fafafa;
    padding: 50px;
    box-sizing: border-box;

    /* ----point---- */
    transition: all .3s linear;
    transform-origin: top right;
}

.content{
    width: 1000px;
    margin: 50px auto;
}

.content img{
    width: 100%;
}
.content small{
    color: #666;
}

.content p{
    line-height: 25px;
}

.content h3{
    padding: 20px 0;
}

.container.show-nav{
    transform: rotate(20deg);
}

.circle-container{
    position: fixed;
    right: -100px;
    top: -100px;
}

.container.show-nav .circle{
    transform: rotate(-80deg);
}


.circle{
    width: 200px;
    height: 200px;
    background: #faa000;
    border-radius: 50%;
    position: relative;
    transition: transform .5s linear;
}

.circle button{
    position: absolute;
    top: 50%;
    right: 50%;
    height: 100px;
    background: transparent;
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 25px;
}

.circle #open{
    right: 60%;
}

.circle #close{
    top: 40%;
    transform: rotate(75deg);
    transform-origin: top right;
}

.container.show-nav + nav li{
    transform: translateX(0);
    transition-delay: .3s;
}

nav{
    position: fixed;
    bottom: 50px;
    right: 30px;
}

nav ul{
    list-style: none;
}

nav ul li{
    color: #fff;
    margin: 20px;
    cursor: pointer;

    /* ------point----- */
    transform: translateX(150%);
    transition: transform .3s linear;

}

nav ul li svg{
    font-size: 20px;
    margin-left: 10px;
}

nav ul li + li{
    margin-right: 35px;
    transform: translateX(200%);
}

nav ul li + li + li{
    margin-right: 60px;
    transform: translateX(250%);

}